@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bruno+Ace+SC&display=swap');

.nav-cnt {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(200, 176, 203);
}

.nav-heading {
  font-family: 'Abril Fatface', cursive;
  color: rgb(57, 57, 88);
}
